@media screen and (max-width:576px){
    .influencer-header
    {
    padding:37px 40px;
    flex-direction: column;
    justify-content:center;
    gap:20px;
    }
    
    .influencer-nav ul{
      justify-content:flex-start;
      flex-wrap: wrap;
      gap:30px;
    }
    
/* ///////////////////////////////////////// */

    .influencer-hero-section{
        padding:37px 40px;
        }
        
        .influencer-hero-container{
           flex-direction: column-reverse;
           justify-content: center;
           align-items: center;
           gap:70px;
        }
        
        .infu-hero-text-wrap {
          text-align:center;
          width:100%;
          margin: 0 auto;
        }
  
       .infu-hero-img-wrap{
            width:80%;
            margin:0 auto;
        }
        
         .infu-hero-text-wrap h2{
            font-size: 2.8rem;
        
          }
         .fa-cart-shopping{
            font-size: 20px;
            }
    /* ///////////////////////////// */
         .our-partner-sec{
              padding:10px 40px 0px;
            }
            
         .our-partner-container{
             padding:36px 0px;
             gap: 30px;
           flex-wrap: wrap;
             border:none;
              }
    /*////////////////    */

         .collection-sec{
                padding:50px 60px;
            }
            
         .collection-card-container{
                grid-template-columns: 1fr;
                gap:40px;
            }
            
        .collection-card {
           width:100%;
        }
/* ////////////////////////// */
        .f-product{
            padding:40px 40px 80px;
            flex-direction: column-reverse;
            justify-content:center;
            gap: 50px;
        }
     
        .f-product-image{
        width:100%;
        }

        .f-product-image img{
            width:100%;
        }

        .f-product-text{
            width:100%;
            text-align: center;
        
        } 

}

@media screen and (min-width:576px) and (max-width:776px) {
    
    .influencer-header
    {
    padding:37px 40px;
    flex-direction: column;
    justify-content:center;
    gap:30px;
    }
    
    .influencer-nav ul{
      justify-content:flex-start;
      flex-wrap: wrap;
      gap:40px;
    }
    
/* ///////////////////////////////// */
    .influencer-hero-section{
        padding:37px 40px;
        }
        
        .influencer-hero-container{
           flex-direction: column-reverse;
           justify-content: center;
           align-items: center;
           gap:70px;
        }
        
        .infu-hero-text-wrap {
          text-align:center;
          width:100%;
          margin: 0 auto;
        }

        .infu-hero-img-wrap{
            width:80%;
            margin:0 auto;
        }
        
        .infu-hero-text-wrap h2{
           font-size: 2.8rem;
        
          }
/* /////////////////////////// */
          .our-partner-sec{
            padding:30px 40px;
            }
            
            .our-partner-container{
                padding:36px 0px;
                gap: 30px;
                flex-wrap: wrap;
                border:none;
            
            }         

 /*////////////////    */

 .collection-sec{
    padding:30px 60px 60px;
}

.collection-card-container{
    grid-template-columns:repeat(2, 1fr);
    row-gap:30px;
    column-gap: 50px;
}

/* ////////////////////// */
.f-product{
    padding:40px 80px 70px;
    flex-direction: column-reverse;
    justify-content:center;
    gap: 50px;
}

.f-product-image{
width:100%;
}

.f-product-image img{
    width:100%;
}

.f-product-text{
    width:100%;
    text-align: center;

} 
                  

}


@media screen and (min-width:776px) and (max-width:992px) {
    .influencer-header
    {
    padding:37px 80px;
    flex-direction: row;
    gap:60px;
    }
    
    .influencer-nav ul{
      justify-content:flex-start;
      flex-wrap: wrap;
      gap:30px;
    }

/* /////////////////////// */

    .influencer-hero-section{
        padding:37px 70px;
        }
        .influencer-hero-container{
           gap:50px;
        }
        
        .infu-hero-text-wrap {
          text-align:left;
        }
  
        .infu-hero-text-wrap h2{
           font-size: 2.8rem;
        
          }
    /* //////////////////////// */
    .our-partner-sec{
        padding:30px 70px;
        }
        
        .our-partner-container{
           
            gap: 40px;
            flex-wrap: wrap;
        }


        
 /*////////////////    */

 .collection-sec{
    padding:80px 60px;
}

.collection-card-container{
    grid-template-columns:repeat(2, 1fr);
    row-gap:30px;
    column-gap: 50px;
}
   /*  /////////////////// */

   .f-product{
    padding:30px 60px 80px;
    justify-content:center;
    gap: 50px;
}

.f-product-image{
width:50%;
}

.f-product-image img{
    width:100%;
}

.f-product-text{
    width:50%;
    text-align: left;

} 

}


@media screen and (min-width:992px) and (max-width:1200px) {
    .influencer-header
    {
    padding:50px 100px;
    gap:60px;
   
    }
    .influencer-nav ul{
        justify-content:flex-start;
        flex-wrap: wrap;
        gap:30px;
      }
      .influencer-hero-section{
        padding:37px 100px;
        }

        .our-partner-sec{
            padding:30px 100px;
            }
            
      .our-partner-container{
           
        gap: 40px;
        flex-wrap: wrap;
    }


    .collection-sec{
        padding:80px 100px 50px;
    }
    /* /////////////////////////// */

    .f-product{
        padding:80px 100px;
        justify-content:center;
        gap: 50px;
    }
    
    .f-product-image{
    width:50%;
    }
    
    .f-product-image img{
        width:100%;
    }
    
    .f-product-text{
        width:50%;
        text-align: left;
    
    } 
}
